.main {
  width: 40rem;
  margin-left: 23rem;
  min-height: fit-content;
}

.formForget {
  display: flex;
  flex-direction: column;
  margin: 55px;
  padding: 20px;
  background: #aae2db;
  border-radius: 5px;
}

.formForget>input {
  border-top: 1.2px solid grey;
  font-size: 1.2rem;
  padding: 3px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.Forgetlabel {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
  font-size: 1.2rem;
}

.formForget>button {

  margin: 8px auto;
  padding: 2px;
  background: #0c76d8;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(199, 24, 24);
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.formForget>button:hover {
  background: #1598af;
}